{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="text-center">
    <h1 class="mb-5 text-3xl font-bold text-darkblue md:text-4xl lg:text-5xl">
        PipeTracker</h1>
    <p class="mb-6 text-lg font-normal text-customblack lg:text-xl">PipeTracker
        is an inventory management application specifically designed
        for plumbers. The project was born out of the real-world challenges of
        a self-employed plumber. Built with a user-centered approach,
        PipeTracker manages inventory for plumbing businesses and simplifies
        the invoicing process for plumbers.</p>
    <p class="mb-6 text-lg font-normal text-customblack lg:text-xl">Register
        and log in to see all functionalities and manage our plumbing
        inventory.</p>

    <img class="landing-image h-auto max-w-lg mx-auto mb-6"
         src="{% static 'images/pipes.svg'  %}" alt="vector image of pipes">

    {% if not user.is_authenticated %}
    <a href="{% url 'account_signup' %}"
       class="block w-fit m-auto font-bold text-customwhite bg-darkblue hover:bg-lightblue hover:text-customblack focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 mb-4 focus:outline-none">Register</a>
    <a href="{% url 'account_login' %}"
       class="block w-fit m-auto font-bold text-customwhite bg-darkblue hover:bg-lightblue hover:text-customblack focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 mb-4 focus:outline-none">Login</a>
    {% endif %}
</div>

{% endblock %}