{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}Your Basket{% endblock %}

{% block content %}

<div class="text-center">
    <div class="mb-5 heading-button-row">
        <h1 class="mt-5 text-3xl font-bold text-darkblue md:text-4xl lg:text-5xl">
            Your Basket</h1>
    </div>
    <div class="flex flex-wrap justify-center">
        <!-- table for bigger screens -->
        <div class="hidden md:flex flex-wrap justify-center">
            {% render_table table %}
        </div>
        <!-- cards for smaller screens -->
        <div class="block md:hidden">
            {% for item_dic in items_dic %}
            <div class="grid mb-5 mobile-card shadow-md border border-darkblue">
                {% for field, item in item_dic.items %}
                <div class="text-customwhite bg-darkblue uppercase font-bold p-3 border-b border-b-customwhite">
                    {{ field }}
                </div>
                <div class="bg-customwhite text-customblack p-3 border border-darkblue break-words">
                    {{ item }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-12 md:flex md:justify-end">
        <form class="grid md:grid-cols-[2fr_3fr_1fr] items-center gap-4">
            <label for="note-search"
                   class="mr-2 font-bold text-darkblue">Add to delivery note:</label>
            <div class="relative mr-2">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                         aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="2"
                              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <select id="note-search" required
                       class="block w-full px-4 py-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
                    <option selected disabled>Choose a delivery note...</option>
                    {% for note in notes %}
                    <option value="{{ note.id }}">{{ note.basket_text }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit"
                    class="font-bold text-customwhite bg-darkblue hover:bg-lightblue hover:text-customblack focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-7 py-3 focus:outline-none">
                Add
            </button>
        </form>
    </div>
</div>

{% endblock %}