{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet">
{% endblock %}

{% block title %}Your Basket{% endblock %}

{% block content %}

<div class="text-center">
    <div class="mb-5">
        <h1 class="text-3xl font-bold text-darkblue md:text-4xl lg:text-5xl">Your Basket</h1>
    </div>
    {% if basket_items %}
        <!-- table for bigger screens -->
        <div class="flex flex-wrap justify-center">
            {% render_table table %}
        </div>
        <div class="mt-12 md:flex md:justify-end">
            <form method="POST" action="{% url 'basket_to_note' basket.id %}" id="note-form"
                  class="grid md:grid-cols-[1fr_2fr_1fr] md:justify-items-start items-center gap-4">
                {% csrf_token %}
                <label for="note-search"
                       class="mr-2 font-bold text-darkblue">Add to delivery
                    note:</label>
                <select id="note-search" name="note" class="select2" required>
                    <option value="" selected disabled>Choose a delivery note...
                    </option>
                    {% for note in notes %}
                    <option value="{{ note.id }}">{{ note.basket_text }}</option>
                    {% endfor %}
                </select>
                <button type="submit"
                        class="font-bold text-customwhite bg-darkblue hover:bg-lightblue hover:text-customblack focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 ml-2 focus:outline-none">
                    Add
                </button>
            </form>
        </div>
    {% else %}
        <p class="mb-6 text-lg font-normal text-customblack lg:text-xl">Your basket is empty.</p>
    {% endif %}
</div>

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    // initialize select2
    $(document).ready(function () {
        $(".select2").select2();
    });
</script>
{% endblock %}