/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google fonts import Roboto and Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General styles */
body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

.svg-button:hover svg {
    color: #F9F9F9;
}

/* Header styles */
.active_nav {
    color: #274060;
}

nav li a {
    position: relative;
}

.active_nav::before {
    content: '';
    display: block;
    height: 3px;
    background: #00B2CA;
    position: absolute;
    bottom: -.5em;
    left: 0;
    right: 0;
}

/* Landing page */
.landing-image {
    border: 5px solid #274060;
    border-radius: 20%;
}

/* Stock Items */
.heading-button-row {
    display: grid;
    align-items: baseline;
    grid-template-columns: 10fr 1fr;
}

.heading-button-row a {
    justify-self: end;
}

#dropdown-menu {
    grid-column-end: 3;
    justify-self: end;
}

/* Forms */
#id_password1_helptext {
    padding: 1rem;
    margin: 2rem 0;
    font-size: .8rem;
    border: 1px solid #274060;
    color: #274060;
    border-radius: 0.5rem;
}

.invalid-feedback {
    font-size: .9rem;
    color: #bb1515;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .active_nav::before {
        bottom: 0;
    }

    .heading-button-row {
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }

    .heading-button-row a {
        order: 1;
    }

    .heading-button-row h1 {
        order: 2;
    }
}