{% load static %}

<header>
    {% with request.resolver_match.url_name as url_name %}
    <nav class="bg-customwhite">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="{% url 'home' %}" class="flex items-center space-x-3">
                <img src="{% static 'images/logo.svg' %}" class="h-16" alt="PipeTracker Logo" />
            </a>
            <button data-collapse-toggle="navbar-default" type="button" id="mobile-menu-toggle"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-customblack md:hidden hover:bg-darkblue-100 focus:outline-none focus:ring-2 focus:ring-darkblue"
                    aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2"
                          d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-bold flex flex-col items-center p-4 md:p-0 mt-4 border border-darkblue-100 bg-darkblue-50 md:flex-row md:space-x-8 md:mt-0 md:border-0">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'dashboard' %}" aria-current="{% if url_name == 'dashboard' %}page{% endif %}"
                           class="{% if url_name == 'dashboard' %}active_nav{% endif %} block py-2 px-3 text-customblack hover:bg-customwhite md:hover:bg-transparent md:border-0 md:hover:text-lightblue md:p-0">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'categories' %}" aria-current="{% if url_name == 'categories' %}page{% endif %}"
                           class="{% if url_name == 'categories' %}active_nav{% endif %} block py-2 px-3 text-customblack hover:bg-customwhite md:hover:bg-transparent md:border-0 md:hover:text-lightblue md:p-0">Stock
                            Items</a>
                    </li>
                    <li>
                        <a href="#"
                           class="block py-2 px-3 text-customblack hover:bg-customwhite md:hover:bg-transparent md:border-0 md:hover:text-lightblue md:p-0">Delivery
                            Notes</a>
                    </li>
                    <li>
                        <a href="#"
                           class="block py-2 px-3 text-customblack hover:bg-customwhite md:hover:bg-transparent md:border-0 md:hover:text-lightblue md:p-0">Cart</a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}" aria-current="{% if url_name == 'account_logout' %}page{% endif %}"
                           class="{% if url_name == 'account_logout' %}active_nav{% endif %} block py-2 px-3 text-customblack hover:bg-customwhite md:hover:bg-transparent md:border-0 md:hover:text-lightblue md:p-0">Logout ({{user.username}})</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'account_signup' %}" aria-current="{% if url_name == 'account_signup' %}page{% endif %}"
                           class="{% if url_name == 'account_signup' %}active_nav{% endif %} block py-2 px-3 text-customblack hover:bg-customwhite md:hover:bg-transparent md:border-0 md:hover:text-lightblue md:p-0">Register</a>
                    </li>
                    <li>
                        <a href="{% url 'account_login' %}" aria-current="{% if url_name == 'account_login' %}page{% endif %}"
                           class="{% if url_name == 'account_login' %}active_nav{% endif %} block py-2 px-3 text-customblack hover:bg-customwhite md:hover:bg-transparent md:border-0 md:hover:text-lightblue md:p-0">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endwith %}
</header>