{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Add Category{% endblock %}

{% block content %}

<div class="text-center">
    <h1 class="mb-5 text-3xl font-bold text-darkblue md:text-4xl lg:text-5xl">
        Add a new Category</h1>

    <form method="POST" enctype="multipart/form-data" class="max-w-lg mx-auto">
        {% csrf_token %}
        {{ form.media }}
        {% crispy form %}
        <button type="submit"
                class="font-bold text-customwhite bg-darkblue hover:bg-lightblue hover:text-customblack focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 mb-4 focus:outline-none">
            Create Category
        </button>
    </form>
</div>

{% endblock %}