{% extends "base.html" %}
{% load static %}

{% block title %}Categories{% endblock %}

{% block content %}

{{ breadcrumbs }}

<div class="text-center">
    <div class="heading-button-row">
        <h1 class="mb-5 text-3xl font-bold text-darkblue md:text-4xl lg:text-5xl">
            Choose a Category</h1>
        <a href="{% url 'add_category' %}"
           class="svg-button text-darkblue bg-customwhite border-2 border-darkblue hover:bg-darkblue hover:text-customwhite focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg px-5 py-2.5 text-center inline-flex items-center">
            <svg class="w-5 h-5 text-darkblue me-2" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                 viewBox="0 0 24 24">
                <path d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z"/>
            </svg>
            Add
        </a>
    </div>
    <div class="flex flex-wrap justify-center">
        {% if children %}
        {% for child in children %}
        <a href="{% if child.children.all %}{% url 'categories_children' child.id %}{% endif %}" class="m-4" aria-label="Click to view stock items for {{ child.name }}">
            <div class="max-w-sm bg-customwhite border-2 border-darkblue shadow-xl">
                <img src="{{ child.image.url }}"
                     alt="{{ child.image_alt }}"/>
                <h2 class="p-4 text-2xl font-bold text-darkblue">{{child.name }}</h2>
            </div>
        </a>
        {% endfor %}
        {% else %}
        <p>No Sub-Categories.</p>
        {% endif %}
    </div>
</div>

{% endblock %}