{% extends "base.html" %}
{% load static %}

{% block title %}Categories{% endblock %}

{% block content %}

<div class="text-center">
    <div class="heading-button-row">
        <h1 class="mb-5 text-3xl font-bold text-darkblue md:text-4xl lg:text-5xl">
            Choose a Category</h1>
        <a href="{% url 'add_category' %}"
           class="svg-button text-darkblue bg-customwhite border-2 border-darkblue hover:bg-darkblue hover:text-customwhite focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg px-5 py-2.5 text-center inline-flex items-center">
            <svg class="w-5 h-5 text-darkblue me-2" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                 viewBox="0 0 24 24">
                <path d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z"/>
            </svg>
            Add
        </a>
    </div>
    <div class="flex flex-wrap justify-center">
        {% for category in categories %}
        <div class="m-4">
            <a href="{% if category.children.all %}{% url 'categories_children' category.id %}{% endif %}"
               aria-label="Click to view stock items for {{ category.name }}">
                <div class="max-w-sm bg-customwhite border-2 border-darkblue shadow-xl">
                    <img src="{{ category.image.url }}"
                         alt="{{ category.image_alt }}"/>
                    <h2 class="p-4 text-2xl font-bold text-darkblue inline-flex items-center">
                        {{category.name}}
                        <svg class="w-6 h-6 ms-3"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 14 10">
                            <path stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round" stroke-width="2"
                                  d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </h2>
                </div>
            </a>
            <div class="p-4">
                <a href="#"
                   class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-darkblue bg-customwhite border border-darkblue hover:bg-darkblue hover:text-customwhite focus:ring-4 focus:outline-none focus:ring-blue-300">
                    Edit {{category.name}}
                </a>
                <a href="{% url 'delete_category' category.id %}"
                   class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-darkblue bg-customwhite border border-darkblue hover:bg-darkblue hover:text-customwhite focus:ring-4 focus:outline-none focus:ring-blue-300">
                    Delete {{category.name}}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}