{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Category {{ object.name }}{% endblock %}

{% block content %}

<section class="text-center">
    <h1 class="mb-5 text-3xl font-bold text-darkblue md:text-4xl lg:text-5xl">
        Edit Category "{{ object.name }}"</h1>

    <form method="POST" enctype="multipart/form-data" class="max-w-lg mx-auto">
        {% csrf_token %}
        {{ form.media }}
        {% crispy form %}
        <button type="submit"
                class="font-bold text-customwhite bg-darkblue hover:bg-lightblue hover:text-customblack focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 mb-4 focus:outline-none">
            Save Category
        </button>
    </form>
    <a class="font-bold block w-fit m-auto text-customwhite bg-danger border border-danger hover:bg-customwhite hover:text-danger focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 mb-4 focus:outline-none"
       href="{% url 'stock_delete_category' object.id %}">Delete Category</a>
    {% include "stock/back_button.html" %}
</section>

{% endblock %}