{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Add Stock Item{% endblock %}

{% block content %}

<section class="text-center">
    <h1 class="mb-5 text-3xl font-bold text-darkblue md:text-4xl lg:text-5xl">
        Add Stock Items via upload</h1>

    <p class="text-lg font-normal text-customblack lg:text-xl">
        Upload a CSV file to automatically create stock items. Use the example file to make sure the file is correctly formatted.
    </p>

    <a href="{% static 'documents/sample_stock.csv' %}"
       class="svg-button text-darkblue bg-customwhite border-2 border-darkblue hover:bg-darkblue hover:text-customwhite focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg px-5 py-2.5 m-6 text-center inline-flex items-center">
        <svg class="w-5 h-5 text-darkblue me-2" aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg" fill="currentColor"
             viewBox="0 0 24 24">
            <path d="M12 21l-8-9h6v-12h4v12h6l-8 9zm9-1v2h-18v-2h-2v4h22v-4h-2z"/>
        </svg>
        Download example file
    </a>

    <h2 class="p-4 text-2xl font-bold text-darkblue flex justify-center">Upload your file here</h2>
    <form method="POST" enctype="multipart/form-data" class="max-w-lg mx-auto">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit"
                class="font-bold text-customwhite bg-darkblue hover:bg-lightblue hover:text-customblack focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 mb-4 focus:outline-none">
            Create from File
        </button>
    </form>
    {% include "stock/back_button.html" %}
</section>

{% endblock %}