{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Customer{% endblock %}

{% block content %}

<section class="text-center">
    <h1 class="mb-5 text-3xl font-bold text-darkblue md:text-4xl lg:text-5xl">Add a new Customer</h1>

    <form method="POST" enctype="multipart/form-data" class="max-w-lg mx-auto">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit"
                class="font-bold text-customwhite bg-darkblue hover:bg-lightblue hover:text-customblack focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 mb-4 focus:outline-none">
            Create Customer
        </button>
    </form>

    <a class="font-bold block w-fit m-auto text-darkblue bg-customwhite border border-darkblue hover:bg-lightblue hover:text-customblack hover:border-lightblue focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 focus:outline-none"
       href="{% url 'delivery_add_note' %}">Back to creating a new delivery note</a>
</section>

{% endblock %}