{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}Delivery Notes{% endblock %}

{% block content %}

<div class="text-center">
    <div class="mb-5 heading-button-row">
        <h1 class="mt-5 text-3xl font-bold text-darkblue md:text-4xl lg:text-5xl">
            Delivery Notes</h1>
        <a href="{% url 'delivery_add_note' %}"
           class="svg-button text-darkblue bg-customwhite border-2 border-darkblue hover:bg-darkblue hover:text-customwhite focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg px-5 py-2.5 text-center inline-flex items-center">
            <svg class="w-5 h-5 text-darkblue me-2" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                 viewBox="0 0 24 24">
                <path d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z"/>
            </svg>
            Add
        </a>
    </div>
    <div class="flex flex-wrap justify-center">
        <!-- table for bigger screens -->
        <div class="hidden md:flex flex-wrap justify-center">
            {% render_table table %}
        </div>
        <!-- cards for smaller screens -->
        <div class="block md:hidden">
            {% for note_dic in notes_dic %}
            <div class="grid mb-5 mobile-card shadow-md border border-darkblue">
                {% for field, note in note_dic.items %}
                <div class="text-customwhite bg-darkblue uppercase font-bold p-3 border-b border-b-customwhite">
                    {{ field }}
                </div>
                <div class="bg-customwhite text-customblack p-3 border border-darkblue break-words">
                    {{ note }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}