{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}Delivery Note {{ note.title }}{% endblock %}

{% block content %}

<section class="text-center">
    <div class="mb-5 heading-button-row">
        <h1 class="col-start-2 text-3xl font-bold text-darkblue md:text-4xl lg:text-5xl">{{ note.title }}</h1>
        <label class="relative inline-flex items-center justify-self-center">
            <input type="checkbox" value="" class="sr-only peer" checked disabled>
            <div class="{% if note.status == 'open' %}peer-checked:bg-success{% else %}peer-checked:bg-danger{% endif %} w-12 h-7 bg-gray-200 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-1 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all"></div>
            <span class="ms-3 text-md font-bold text-customblack">{{ note.status }}</span>
        </label>
    </div>
    <p class="mb-2 text-xl font-bold text-customblack lg:text-2xl">for {{ note.customer }}</p>
    <p class="mb-6 text-lg font-bold text-customblack lg:text-xl">created {{ note.date|date:"d.m.Y" }}</p>
    {% if note.status == "open" %}
    <a href="{% url 'delivery_edit_note' note.id %}"
       class="text-darkblue bg-customwhite border-2 border-darkblue hover:bg-darkblue hover:text-customwhite focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg px-5 py-2.5 text-center inline-flex items-center">
        Edit note
    </a>
    {% endif %}
    <p class="mt-6 text-lg font-bold text-customblack lg:text-xl">Total value: <span class="text-danger">€ {{ total_cost }}</span></p>
    <div class="mt-5 flex flex-wrap justify-center">
        {% render_table table %}
    </div>
    <div class="mt-8 flex justify-end">
        <a href="{% url 'delivery_export_note' note.id %}"
           class="w-full md:w-auto justify-center hover:text-darkblue hover:bg-customwhite border-2 border-darkblue bg-darkblue text-customwhite focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg px-5 py-2.5 text-center inline-flex items-center">
            Export as PDF
        </a>
    </div>
</section>

{% endblock %}