{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endblock %}

    <!-- link to favicon -->
    <link rel="icon" href="{% static 'images/favicon.png'  %}" type="image/x-icon">

    <title>PipeTracker - {% block title %}{% endblock %}</title>
</head>
<body class="flex flex-col min-h-screen">
{% include "includes/header.html" %}

<main class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 flex-auto">
    {% block content %}
    {% endblock %}
</main>

{% include "includes/footer.html" %}

{% block onload_js %}
<script src="{% static 'js/base.js' %}"></script>
{% endblock %}
</body>
</html>